* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #0f0f0f;
  color: #fffef8;
}
.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 80px);
  grid-gap: 15px;
}
.grid div {
  padding: 0px;
}
.quotation-mark {
  grid-row: 2/3;
  grid-column: 2/3;
}
.quotation-mark > img {
  object-fit: fit;
  width: 30%;
  max-height: 30%;
}
.quote1 {
  grid-row: 2/3;
  grid-column: 4/6;
  text-align: right;
}
.quote2 {
  grid-row: 3/4;
  grid-column: 2/6;
}
.divider {
  grid-row: 4/5;
  grid-column: 2/6;
}
.loveislove {
  grid-row: 5/8;
  grid-column: 2/6;
  text-align: right;
  margin: 0px 0px 0px;
}
.takepride {
  grid-row: 4/5;
  grid-column: 6/9;
  margin: 0px 50px 0px;
  align-self: center;
  text-align: center;
}
.paragraph1 {
  grid-row: 2/4;
  grid-column: 6/9;
  margin: 0px 50px 0px;
  text-align: justify;
}
.paragraph2 {
  grid-row: 5/8;
  grid-column: 6/9;
  margin: 0px 50px 0px;
  text-align: justify;
}
.purple-line {
  grid-row: 2/3;
  grid-column: 9/10;
  width: 123.1px;
  height: 10px;
  margin-top: 5px;
  background-color: #844cef;
  text-align: right;
  background-color: #844cef;
  border-radius: 15px;
}
.braille {
  grid-row: 4/8;
  grid-column: 9/10;
  align-content: baseline;
}
.braille > img{
  object-fit: fit;
  width: 100%;
  max-height: 100%;
}
.gradient-text1 {
  background-color: white;
  background-image: linear-gradient(90deg, #ff4d4f,
  #ff8700, #fcdd54, #00c8b5, #4a59ee, #844cef);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.gradient-text2 {
  background-color: white;
  background-image: linear-gradient(90deg, #00c8b5, #4a59ee);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.red-line {
  grid-row: 4/5;
  grid-column: 2/3;
  width: 123.1px;
  height: 10px;
  margin-top: 5px;
  background-color: #ff4d4f;
  border-radius: 15px;
}
.orange-line {
  grid-row: 4/5;
  grid-column: 3/4;
  width: 123.1px;
  height: 10px;
  margin-top: 5px;
  background-color: #ff8700;
  border-radius: 15px;
  align-self: center;
}
.yellow-line {
  grid-row: 4/5;
  grid-column: 4/5;
  width: 123.1px;
  height: 10px;
  margin-top: 5px;
  background-color: #fcdd54;
  border-radius: 15px;
}
.green-line {
  grid-row: 4/5;
  grid-column: 5/6;
  width: 123.1px;
  height: 10px;
  margin-top: 5px;
  background-color: #00c8b5;
  border-radius: 15px;
}
h1 {
  font-family: 'Epilogue', sans-serif;
  font-size: 155px;
  margin-top: -5.5px;
  margin-right: -9px;
  line-height: 155px;
}
h2 {
  font-family: 'Epilogue', sans-serif;
  font-size: 42px;
  margin-bottom: -18px;
}
h3 {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  font-weight: 300;
  margin-top: -5px;
}
h4 {
  font-family: 'Merriweather', serif;
  font-size: 25px;
  margin-top: -4px;
}
p {
  font-family: 'ABeeZee', sans-serif;
  font-size: 12.5px;
  color: #a8a8a8;
  line-height: 18.4px;
}
.red-text {
  color: #ff4d4f;
  text-align: center;
}
a:link, a:visited {
  font-family: 'ABeeZee', sans-serif;
  font-size: 12.5px;
  color: #a8a8a8;
  text-align: right;
  text-decoration: none;
}
a:hover {
  /* color: #742ad3; */
  background-color: white;
  background-image: linear-gradient(90deg, #ff4d4f,
  #ff8700, #fcdd54, #00c8b5, #4a59ee, #844cef);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
